:root {
  --background-color: #2f303a;
  --main-color: #212121;
  --secondary-color: #ffffff;
  --hover-color: #2196f3;
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
}

h1,
h2,
p,
ul {
  margin: 0px;
}

p,
ul {
  padding: 0;
}

.container {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  flex-wrap: wrap;
}

.studio-button {
  border: none;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.875;
  font-weight: 900;
  cursor: pointer;
  color: var(--secondary-color);
  background-color: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 42px;
  margin-top: 30px;
  margin-bottom: 200px;
}

.buttons {
  margin-bottom: 34px;
}

.buttons__item {
  font-size: 16px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  margin-right: 8px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons__item:hover {
  background-color: var(--hover-color);
  color: var(--secondary-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.links {
  color: inherit;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.links:hover {
  color: var(--hover-color);
}

.links:focus {
  color: var(--hover-color);
}

.links:hover .links__envelope {
  fill: var(--hover-color);
}

.links:hover .links__smartphone {
  fill: var(--hover-color);
}

.links:focus .links__envelope {
  fill: var(--hover-color);
}

.links:focus .links__smartphone {
  fill: var(--hover-color);
}

.section {
  display: flex;
  flex-wrap: wrap;
  padding-top: 94px;
  padding-bottom: 94px;
  margin: 0 auto;
}

.logo__webstudio {
  color: var(--hover-color);
}

.logo {
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.192;
  color: #000000;
  text-decoration: none;
  padding-top: 25px;
  padding-bottom: 25px;
}

.logo--footer {
  color: var(--secondary-color);
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 60px;
  margin-bottom: 25px;
}

.links--footer {
  font-size: 14px;
  line-height: 0.583;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.links--footer:hover,
.links--footer:focus {
  color: var(--hover-color);
}

.footer {
  background-color: var(--background-color);
  flex-direction: row;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer-contact {
  display: flex;
  flex-direction: column;
}

.join-for-us {
  color: var(--secondary-color);
  font-size: 14px;
  font-weight: 900;
  line-height: 1.143;
  text-transform: uppercase;
  margin-left: 70px;
  margin-right: 78px;
  padding-top: 70px;
  padding-bottom: 40px;
}

.footer .container {
  justify-content: flex-start;
  padding-bottom: 60px;
}

.font-style-normal {
  font-style: normal;
  line-height: 24px;
}

.address-span {
  font-size: 14px;
  line-height: 1.714;
  color: var(--secondary-color);
}

.newsletter {
  font-weight: 900;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
  padding-top: 30px;
}

.footer-form {
  margin-top: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__email {
  background-color: var(--background-color);
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
}

.footer-form__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 28px 10px 42px;
  background-color: var(--hover-color);
  color: var(--secondary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
}

.footer-form__btn:hover {
  cursor: pointer;
}

.newsletter-icon {
  width: 24px;
  height: 24px;
  fill: var(--secondary-color);
  margin-left: 24px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.container--header {
  justify-content: flex-start;
  background-color: var(--secondary-color);
}

.container__links {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.143;
  color: #757575;
}

.container__links--margin {
  margin-left: 345px;
  margin-right: 30px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms linear;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--secondary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.is-hidden .modal {
  opacity: 0;
  transition: opacity 250ms linear;
}

.modal__icon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 498px;
}

.modal__heading {
  font-weight: 900;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  padding-top: 40px;
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.modal__input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 10px;
  padding-left: 30px;
  outline: none;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.person-icon {
  width: 18px;
  height: 18px;
  fill: var(--main-color);
  position: absolute;
  top: 105px;
  left: 50px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.tel-icon {
  width: 18px;
  height: 18px;
  fill: var(--main-color);
  position: absolute;
  top: 175px;
  left: 50px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.email-icon {
  width: 18px;
  height: 18px;
  fill: var(--main-color);
  position: absolute;
  top: 240px;
  left: 50px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus,
.modal__input:focus .person-icon,
.modal__input:focus .tel-icon,
.modal__input:focus .email-icon {
  border: 1px solid var(--hover-color);
  fill: var(--hover-color);
}

.modal__textarea {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  padding-left: 15px;
  outline: none;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__textarea:focus {
  border: 1px solid var(--hover-color);
}

.modal__label {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.checkbox-label {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 20px;
  margin-bottom: 30px;
}

.checkbox-label::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  border: 3px solid #000000;
  margin-right: 7px;
}

.modal__checkbox:checked + .checkbox-label::before {
  background-color: var(--hover-color);
  border: none;
  border-radius: 2px;
  background-image: url(../images/checkbox.svg);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
}

.checkbox-label__link {
  color: var(--hover-color);
}

.modal__submit {
  font-weight: 900;
  font-size: 16px;
  line-height: 1.875;
  display: inline-block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  width: 200px;
  margin-left: 124px;
  background-color: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 0;
}

.modal__submit:hover,
.modal__icon:hover {
  cursor: pointer;
}

.navigation {
  margin-left: 93px;
}

.navigation__item {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.143;
  margin-right: 46px;
}

.navigation__item-active {
  color: var(--hover-color);
}

.navigation__item-active::after {
  position: absolute;
  width: 53px;
  height: 4px;
  left: 0;
  top: 45px;
  background: var(--hover-color);
  content: "";
  border-radius: 2px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.portfolio-figcaption-item {
  font-weight: 900;
  font-size: 18px;
  line-height: 2;
  color: inherit;
  letter-spacing: 0.06em;
  margin: 24px 24px 20px 20px;
}

.portfolio-figcaption-item__span {
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
  letter-spacing: 0.03em;
  padding-top: 4px;
}

.portfolio-figure {
  background-color: var(--secondary-color);
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0em;
  margin-inline-end: 0em;
  margin-bottom: 30px;
  margin-right: 30px;
  border-bottom: 1px solid #eeeeee;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-img {
  width: 370px;
  height: 294px;
  overflow: hidden;
  position: relative;
}

.portfolio-img__mask {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, 100%);
  transition: transform 250ms linear;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  display: flex;
  padding: 49px 45px 49px 25px;
}

.portfolio-figure:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-figure:hover .portfolio-img__mask,
.portfolio-figure:focus .portfolio-img__mask {
  transform: translate(0, 0);
}

.container--main-section {
  flex-direction: column;
  align-content: center;
}

.main-section {
  max-width: 1600px;
  margin: 0 auto;
  background-color: var(--background-color);
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/photobg.jpg), no-repeat;
  background-size: cover;
}

.container__heading {
  color: var(--secondary-color);
  font-size: 44px;
  line-height: 1.364;
  padding-top: 200px;
  text-align: center;
}

.heading {
  font-size: 36px;
  line-height: 1.167;
  margin-bottom: 50px;
}

.list__img {
  margin-right: 30px;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}

.computer-app {
  font-weight: 900;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 90px 27px 90px;
  position: absolute;
  top: 208px;
}

.mobile-app {
  font-weight: 900;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 113px 27px 113px;
  position: absolute;
  top: 208px;
}

.graphic-solutions {
  font-weight: 900;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 94px 27px 94px;
  position: absolute;
  top: 208px;
}

.list__header-item {
  width: 270px;
  font-size: 14px;
  font-weight: 900;
  line-height: 1.143;
  margin: 0 30px 10px 0;
}

.list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.list__item {
  width: 270px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-right: 30px;
}

.links__envelope {
  width: 16px;
  height: 12px;
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.links__smartphone {
  width: 10px;
  height: 16px;
  fill: #757575;
  margin-right: 10px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list__icons {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  padding: 25px 100px 25px 100px;
  margin-bottom: 10px;
  margin-right: 30px;
}

.social-ellipse__icons {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-ellipse {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  margin-right: 10px;
  margin-bottom: 30px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-ellipse:hover,
.social-ellipse:hover > .social-ellipse__icons,
.social-ellipse:focus,
.social-ellipse:focus > .social-ellipse__icons {
  background-color: var(--hover-color);
  fill: var(--secondary-color);
  cursor: pointer;
}

.rectangle-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 30px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.rectangle-icon:hover,
.rectangle-icon:hover > .customer-icon,
.rectangle-icon:focus,
.rectangle-icon:focus > .customer-icon {
  fill: var(--hover-color);
  border-color: var(--hover-color);
  cursor: pointer;
}

.footer-ellipse-icons {
  margin-bottom: 0;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .figcaption-icons {
  fill: var(--secondary-color);
}

.margin-zero {
  margin-right: 0;
}

.section-bg {
  background-color: #f5f4fa;
}

.figure {
  background-color: var(--secondary-color);
  text-align: center;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0em;
  margin-inline-end: 0em;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.figcaption-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  color: inherit;
  margin-top: 30px;
  flex-direction: row;
}

.figcaption-item__span {
  display: block;
  font-size: 16px;
  line-height: 1.188;
  color: #757575;
  margin-top: 10px;
  padding-bottom: 16px;
}
/*# sourceMappingURL=main.css.map */