.main-section {
  max-width: 1600px;
  margin: 0 auto;
  background-color: var(--background-color);
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/photobg.jpg), no-repeat;
  background-size: cover;
}
